/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	font-family: 'Work Sans';
	font-size: 14px;
}

.main-container {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

.top-bar {
	background-color: black;
	display: none;
	justify-content: center;
	height: 59px;
}

button {
	cursor: pointer;
}

.btn-edition {
	border: none;
	background-color: black;
	color: #FFFFFF;
	margin-right: 21px;
}

.btn-edition>img {
	padding-right: 11.42px;
}

.btn-edition:hover {
	color: bisque;
}

.btn-publish {
	background-color: #FFFFFF;
	border-radius: 60px;
	border: none;
	height: 38px;
	padding: 11px 23px 11px 23px;
	margin-top: 10px;
}

.btn-publish:hover {
	background-color: bisque;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
	cursor: pointer;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.title-modify {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 51px;
}

.btn-modify {
	margin-left: 31px;
	background-color: inherit;
	font-family: Work Sans;
	border: none;
	display: none;
}

.btn-modify:hover {
	color: #B1663C;
}

.btn-modify>img {
	padding-right: 10.42px;
}

.filters {
	display: flex;
	justify-content: center;
	margin-bottom: 51px;
}

.filters>button {
	color: #1D6154;
	font-family: syne;
	background-color: inherit;
	border-radius: 20px;
	border-color: #1D6154;
	border-width: 1px;
	margin-right: 10px;
	font-size: 16px;
	height: 37px;
	padding-left: 20px;
	padding-right: 20px;
}

.filters>button:hover {
	background-color: #1D6154;
	color: #FFFFFF;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.modal {
	padding: 26px 30px;
	background-color: #FFFFFF;
	border: none;
	border-radius: 10px;
}

.modal-wrapper {
	padding: 0 75px;
}

.modal-actions {
	display: flex;
	flex-direction: column;
	align-items: center;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.3);
}

.btn-close {
	border: none;
	background-color: inherit;
}

.cross-arrow {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.btn-arrow {
	border: none;
	background-color: unset;
	visibility: hidden;
}

.title-gallery {
	font-family: 'Work Sans';
	color: black;
	text-align: center;
	margin-bottom: 46px;
}

.figure-list {
	position: relative;
	margin-bottom: 10.55px;
}

.modal-image {
	width: 76.86px;
	height: 104.08px;
}

.modal-content {
	display: grid;
	grid-template-columns: 0fr 0fr 0fr 0fr 0fr;
	grid-column-gap: 9px;
	max-width: 420px;
}

hr {
	margin-top: 67.3px;
}

.btn-add {
	width: 237px;
	height: 36px;
	border-radius: 60px;
	border: none;
	background-color:#1D6154;
	color:#FFFFFF;
	margin-top: 40px;
	margin-bottom: 23px;
}

.btn-delete {
	border: none;
	color: #D65353;
	background-color: unset;
	margin-bottom: 40px;
}

.font-icon {
	width: 10px;
	height: 10px;
	position:relative;
	left: -1px;
}

.btn-trash {
	position: absolute;
	top: 3px;
    left: 55px;
	border: none;
	background-color: black;
	border-radius: 2px;
	width: 19px;
	z-index: 1;
}

.label-image {
	position:relative;
}

.img-rectangle {
	margin-bottom: 30px;

}

.img-icon {
	position:absolute;
	top: -160px;
    left: 170px;
}

.img-preview {
	visibility: hidden;
	position:absolute;
	top: -186px;
    left: 150px;
    width: 129px;
    height: 169px;
}

.img-input {
	position: absolute;
	top: -50px;
    left: 50px;
	visibility: hidden;
}

.img-span {
	position: absolute;
	width: 94px;
    height: 12px;
    top: -40px;
    left: 169px;
    font-size: 10px;
}

.add-photo {
	position:absolute;
	width: 173px;
	height: 36px;
	top: -80px;
    left: 125px;
	color: #306685;
	background-color: #CBD6DC;
	border-radius: 50px;
	display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
	cursor: pointer;
}

.title-input {
	margin-top: 10px;
	margin-bottom: 21px;
	width: 420px;
	height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-right: 0;
    padding-left: 3px;
}

.category-select {
	margin-top: 10px;
	width: 420px;
	height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.btn-validate {
	width: 237px;
	height: 36px;
	border-radius: 60px;
	border: none;
	background-color: #A7A7A7;
	color:#FFFFFF;
	margin-top: 40px;
	margin-bottom: 23px;
	margin-left: 100px;
}

.btn-validate:hover {
	background-color: #1D6154;
}